BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333 # URL da API (.) https://api-pluginsx.vercel.app/ <- PROD

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DEFAULT_PORT=3333

URL=https://pluginsx.vercel.app # URL publica do pluginsx (../website/**) PROD
DEV_URL=http://localhost:3000 # URL local do pluginsx (../website/**) DEV


MONGODB_URI=""
MONGODB_DB_NAME=""
